In [1]:
import pandas as pd 
import numpy
import matplotlib.pyplot as plt
import pickle

Data is from inside Airbnb, we will focus on the city of Paris

In [2]:
listing = pd.read_csv("listings.csv.gz")

In [3]:
calendar = pd.read_csv("http://data.insideairbnb.com/france/ile-de-france/paris/2022-06-06/data/calendar.csv.gz")

In [6]:
#cal_col = calendar.columns
list_col = listing.columns

In [34]:
print(f"{listing.shape = }")

listing.shape = (56739, 74)

We have 74 columns, that's a lot !  
Let's remove columns with "host", "availability", "review" and "night" as we won't use them

In [29]:
print([host_col for host_col in list_col if "host" in host_col])

['host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms']

In [30]:
print([availability_col for availability_col in list_col if "availability" in availability_col])

['has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365']

In [32]:
print([review_col for review_col in list_col if "review" in review_col])

['number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'reviews_per_month']

In [7]:
banwords = ["host", "availability", "review", "night"]
newcol = [col for col in list_col if all(banword not in col for banword in banwords)]

In [8]:
df = listing[newcol]

In [40]:

acco

   accommodates     nb
1             1   3225
2             2  27733
3             3   5083
4             4  13549
5             5   2106

:

In [48]:
print(listing["host_thumbnail_url"][3])
print(listing["host_picture_url"][3])
print(listing["price"][3])

https://a0.muscache.com/im/pictures/user/934594d1-5bcb-4af8-976d-8c75d6c16a30.jpg?aki_policy=profile_small
https://a0.muscache.com/im/pictures/user/934594d1-5bcb-4af8-976d-8c75d6c16a30.jpg?aki_policy=profile_x_medium
$65.00